/.venv*
/.idea
*.env*
env.*
*.json
!webapp_frontend/package.json
!webapp_frontend/package-lock.json
!webapp_frontend/tsconfig.json
!webapp_frontend/tsconfig.node.json
*.txt
*.md
*.jar
*.mp3
!requirements*
*.log
*.pyc
/TEMP_*
/USERS_DATA_DIR
/temp_*
webapp_frontend/node_modules/
webapp_frontend/dist/
*.pyc
tmp*
/TEMP_*
/USERS_DATA_DIR
/temp_*
